* {
  box-sizing: border-box;
}
body {
  font-family:'SF pro text';
  font-size: 15px;
<<<<<<< HEAD
    background-image: url("./images/Top Bar.png");
    background-image: color: #D8D8D8;
    width: 375px;
    height:auto;
    margin: 0 auto;
=======
  margin:200px;
>>>>>>> 8ed439e74f0fc24dddbbb522664615d6730231e7
}

div.column {
    column-count: 3;
}
div {
    column-gap: 1px;
}
img{
<<<<<<< HEAD
  width: 375px;
  height:auto;
  background-color: #D8D8D8;
  margin: 0 auto;
=======
  max-width: 100%;
  height:auto;
  background-color: #D8D8D8;
>>>>>>> 8ed439e74f0fc24dddbbb522664615d6730231e7
}
div {
    column-rule-color: grey;
}
table {
<<<<<<< HEAD
  width: 375px;
  margin: 0 auto;
=======
  width: 100%;
>>>>>>> 8ed439e74f0fc24dddbbb522664615d6730231e7
  border-collapse: collapse;
}
td {
  height: 40px;
  vertical-align: middle;
  text-align: left;
}
th {
    text-align: left;
    height: 15px;
    font-weight: bold;
}
th, td,table {
    border-bottom: 1px solid #ddd;
<<<<<<< HEAD
    width: 375px;
    margin: 0 auto;
=======
>>>>>>> 8ed439e74f0fc24dddbbb522664615d6730231e7
}
h1 {
    font-family:'SF pro text';
    font-size: 16px;
    align-content: center;
    font-weight: bold;
}
h2 {
  font-weight:bold;
}
