* {
  box-sizing: border-box;
}
body {
  font-family:'SF Pro Text', sans-serif;
  font-size: 14px;
  width: 375px;
  height:auto;
  margin: 0 auto;
}
.button {
  background-color:#5AC8FA;
  border: none;
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {
  background-color:orange;
  border: none;
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.button3 {
  background-color:#007AFF;
  border: none;
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.button4 {
  background-color:#FFCC00;
  border: none;
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.button5 {
  background-color:#FF3B30;
  border: none;
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.container {
  margin: 0; auto;
  width: 375px;
}
.fas {
  display:inline;
  float:left;
  color: blue;
  padding-left: 5px;
  size: 5px;
}
h1 {
  font-family:'SF pro text',sans-serif;
  font-size: 18px;
  align-content: center;
  font-weight: bold;
  display: inline;
}
h2 {
  font-weight: bold;
  font-size: 16px;
}
img{
  width: 375px;
  height:auto;
  background-color: #D8D8D8;
  margin: 0 auto;
}
nav {
  margin: 0; auto;
  padding: 0px,0px,15px,15px;
  width: 375px;
  background-color:#D8D8D8;
  height:65px;
  text-align: center;
  font-family: 'SF pro text',sans-serif;
  font-size: 20px;
  display:block;
}
ul {
  padding: 0;
  border-bottom: 1px solid #D8D8D8;
}
ul li {
  list-style-type: none;
}

ul li ul li {
  display: inline-block;
}
.left {
  width: 12%;
}

.center {
  width: 43%;
}
.right{
  width: 42%
}
